{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
    "env": {
        "es6": true,
        "node": true,
        "mocha": true,
        "browser": true
    },
    "plugins": ["react", "jsx-a11y"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "globals": {},
    "rules": {
        "indent": [2, 4]
    }
}
